.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100vh;
}

.sidebar {
  background-color: #313342;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  background-color: white;
}

.logoContainer {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.logo {
  color: rgba(255, 255, 255, 0.629);
  font-size: 30px;
  margin-right: 15px;
}

.productName {
  color: rgba(255, 255, 255, 0.629);
}

.btnContainer {
  flex: 8;
  margin-top: 20px;
}

.btn {
  padding : 10px 0 10px 0;
  display: flex;
  justify-items: center;
  color: rgba(255, 255, 255, 0.629);
}

.loginOut {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}