.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100vh;
}

.sidebar {
  background-color: #313342;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  background-color: blue;
}

.logoContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.logo {
  color: rgba(255, 255, 255, 0.829);
  font-size: 30px;
  margin-right: 15px;
}

.productName {
  color: rgba(255, 255, 255, 0.829);
}

.btnContainer {
  flex: 10;
}

.btn {
  padding : 10px 0 10px 0;
  display: flex;
  justify-items: center;
  color: rgba(255, 255, 255, 0.829);
}

.userInfo {
  flex: 1;
}